.detail {
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--very-light-gray);
  width: var(--max-width);
  max-width: 100%;
  min-height: 100vh;
}
.controls {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: var(--max-width);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.informationGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(45%, auto));
  column-gap: 10%;
  width: var(--max-width);
  max-width: 100%;
}
.basicInfo {
  display: flex;
  flex-wrap: nowrap;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.info h1 {
  margin-bottom: 0.54rem;
}

.imageContainer {
  width: 50px;
  height: 50px;
}
.flag {
  width: 100%;
  position: relative;
  /* background: url() 50% 50% no-repeat; */
  background-size: cover;
  background-clip: content-box;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

  aspect-ratio: auto 4 / 3;
  box-shadow: 0px 1px 10px 2px hsla(0, 0%, 50%, 0.309);
}

.flag:before {
  display: block;
  content: '';
  padding-top: 75%;
}
.label {
  font-weight: 800;
}
.borders {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.borders a {
  min-width: 0;
}
.borderCountry {
  margin-left: 0.5rem;
}
